In [ ]:
SELECT p.name AS product_name,
  EXTRACT(YEAR FROM s.date) AS year,
  EXTRACT(MONTH FROM s.date) AS month,
  EXTRACT(DAY FROM s.date) AS day,
  SUM(sd.count * p.price) AS total
  
FROM products p

JOIN sales_details sd ON p.id = sd.product_id 
JOIN sales s ON sd.sale_id = s.id

  
GROUP BY  p.name, ROLLUP (year, month, day)
ORDER BY p.name, year, month,day;