In [ ]:
'''Define a function that accepts two arguments, 
the first being a list of list that represents the raw data, 
and the second being a list of column indices. 
The return value should be a dictionary with the key being the groups as a tuple,
and the values should be a list containing the aggregated sums.
'''

In [26]:
arr = [
  [1, 6, 2, 10],
  [8, 9, 4, 11],
  [9, 8, 7, 12],
  [1, 6, 3, 20],
]

idx = [0, 1]

In [6]:
import pandas as pd

In [7]:
def group(arr, idx):

IndentationError: expected an indented block (373641056.py, line 1)

In [8]:
df = pd.DataFrame(arr)

In [9]:
df

   0  1  2   3
0  1  6  2  10
1  8  9  4  11
2  9  8  7  12
3  1  6  3  20

In [27]:
df2 = df.groupby(idx).agg('sum')

In [25]:
df2

     1   3
0 2
1 2  6  10
  3  6  20
8 4  9  11
9 7  8  12

In [31]:
value = df2.values.tolist()

In [29]:
keys = df2.index.tolist()

In [32]:
dictionary = dict(zip(keys, value))
print(dictionary)

{(1, 6): [5, 30], (8, 9): [4, 11], (9, 8): [7, 12]}