In [ ]:
#SQL Basics: Group By Day

SELECT DATE(created_at) AS "day", description, COUNT(*) AS "count"
FROM events
WHERE name = 'trained'
GROUP BY "day" , "description"
ORDER BY "day" ASC

In [ ]:
#Countries Capitals for Trivia Night (SQL for Beginners #6)

SELECT capital
FROM countries
WHERE continent IN ('Africa', 'Afrika') AND country LIKE 'E%'
ORDER BY capital
LIMIT 3

In [ ]:
#SQL Bug Fixing: Fix the QUERY - Totaling

SELECT 
  s.transaction_date as day,
  d.name department,
  COUNT(s.id) AS sale_count
  FROM department d
    JOIN sale s on d.id = s.department_id
  group by s.transaction_date, d.name
  order by d.name desc